jms-connector-active-mq/src/main/app/74-jms-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="74-jms-connectorFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jms_connector" doc:name="HTTP"/>
        <jms:outbound-endpoint exchange-pattern="request-response" doc:name="JMS" connector-ref="Active_MQ" queue="testMQ"/>
        <set-payload value="#['Message has sent successfully']" doc:name="Set Payload"/>
    </flow>
    <flow name="74-jms-connectorFlow2">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="30000"/>
            <jms:outbound-endpoint exchange-pattern="request-response" queue="testMQ" connector-ref="Active_MQ" doc:name="Consumers_JMS"/>
        </poll>
        <logger message="#[payload]JMS Message Consumes" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
