async_sysnc/src/main/app/async_sysnc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <flow name="async_sysncFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/async" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <set-session-variable variableName="payload" value="#[payload]" doc:name="Session Variable"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
        <async doc:name="Async">
            <set-payload value="#[payload]" doc:name="Set Payload"/>
            <file:outbound-endpoint path="C:\Users\kavya\Desktop\XMLTEST\Destination1" responseTimeout="10000" doc:name="File"/>
        </async>
        <response>
            <set-payload value="#[payload]" doc:name="Set Payload"/>
        </response>
    </flow>
</mule>
