cobine-payload-rest-services/src/main/app/57-cobine-payload-rest-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
	<http:request-config name="HTTP_Request_Configuration"
		host="ilt.mulesoft-training.com" port="80" doc:name="HTTP Request Configuration" />
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration" />
    <objectstore:config name="ObjectStore__Connector" partition="test" entryTtl="5555" expirationInterval="5000000" maxEntries="5000" doc:name="ObjectStore: Connector"/>
    <flow name="57-cobine-payload-rest-servicesFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/parrallelProcessing" doc:name="HTTP"/>
        <set-variable variableName="destination" value="#[message.inboundProperties.'http.query.params'.destination]" doc:name="Variable"/>
        <scatter-gather doc:name="Scatter-Gather">
            <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flights/#[flowVars.destination]" method="GET" doc:name="HTTP"/>
            <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flights/#[flowVars.destination]" method="GET" doc:name="HTTP"/>
        </scatter-gather>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	payload1:payload[0],
	payload2:payload[1]
	
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
