jb_demo/src/main/app/exception.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<ws:consumer-config name="Web_Service_Consumer"
		wsdlLocation="http://ilt.mulesoft-training.com/essentials/delta?wsdl"
		service="TicketServiceService" port="TicketServicePort"
		serviceAddress="http://training.cloudhub.io/essentials/delta"
		doc:name="Web Service Consumer" />
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8083" doc:name="HTTP Listener Configuration"/>
	<flow name="exception_handlingFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/exceptionTEST" doc:name="HTTP" />
		<set-variable variableName="destination"
			value="#[message.inboundProperties['http.query.params'].destination]"
			doc:name="Variable" />
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: flowVars.destination as :string
	}
}]]></dw:set-payload>
		</dw:transform-message>
		<ws:consumer config-ref="Web_Service_Consumer" operation="findFlight"
			doc:name="Web Service Consumer" />
		<set-payload value="#[payload]" doc:name="Set Payload" />
        <exception-strategy ref="exceptionChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>
	</flow>
    <choice-exception-strategy name="exceptionChoice_Exception_Strategy">
        <catch-exception-strategy when="#[exception.causeMatches('com.mulesoft.*')]" doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="407" doc:name="Property"/>
            <set-payload value="generated exception #['Destination missing'+'\n'+exception]" doc:name="Set Payload"/>
        </catch-exception-strategy>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="https.status" value="500" doc:name="Property"/>
            <set-payload value="#[payload]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </choice-exception-strategy>
</mule>
