json_schem_validation/target/classes/json_schem_validation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<flow name="json_schem_validationFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/json" responseStreamingMode="NEVER" doc:name="HTTP">
			<http:error-response-builder>
				<http:header headerName="enableCookies" value="true" />
			</http:error-response-builder>
		</http:listener>
		
		<set-payload value="#[payload]" doc:name="Set Payload" />
		<json:validate-schema schemaLocation="json_schema.json"
			doc:name="Validate JSON Schema" />
		<set-payload value="#[payload]"
			doc:name="Set Payload" />
	</flow>
</mule>
