anypoint-examples-3.8/addition-using-javascript-transformer/src/main/app/javascript-calculator.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule version="EE-3.8.3" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration" port="${http.port}"/>
    <flow name="javascript-calculatorFlow1">
        <http:listener allowedMethods="POST" config-ref="HTTP_Listener_Configuration" doc:name="HTTP" path="/"/>
        <byte-array-to-string-transformer doc:name="Convert Byte array to String"/>
        <scripting:transformer doc:name="Perform calculation">
            <scripting:script engine="JavaScript"><![CDATA[var list = eval("(" + payload + ")");
var sum = 0;
for (var i in list)
 sum += list[i];
payload = sum;]]></scripting:script>
        </scripting:transformer>
        <logger doc:name="Log the outcome" level="INFO" message="Sum is: #[payload]"/>
        <set-payload doc:name="Set payload to the calculation outcome" value="Sum is: #[payload]."/>
    </flow>
</mule>