product-service/src/main/app/updateproductsImpl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="updateproductsFlow">
        <db:update config-ref="MySQL_Configuration" doc:name="update products">
            <db:parameterized-query><![CDATA[UPDATE `product`.`product` SET `name` = #[json:name], `model` = #[json:model], `price` = #[json:price] WHERE `product`.`id` = #[message.inboundProperties['http.uri.params'].productId];]]></db:parameterized-query>
        </db:update>
        <set-payload value="{ &quot;message&quot; : &quot;Product updated successfully.&quot; }" doc:name="message"/>
    </flow>
</mule>
