anypoint-examples-3.8/http-oauth-provider/src/main/app/http-oauth-provider.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule version="EE-3.6.0" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security" xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:ss="http://www.springframework.org/schema/security" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.2/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <spring:beans>
        <ss:authentication-manager alias="resourceOwnerAuthenticationManager"> 
            <ss:authentication-provider>
                <ss:user-service id="resourceOwnerUserService">
                    <ss:user authorities="RESOURCE_OWNER" name="mule" password="mule"/>
                </ss:user-service>
            </ss:authentication-provider>
        </ss:authentication-manager>
	</spring:beans>

  	<mule-ss:security-manager>
        <mule-ss:delegate-security-provider delegate-ref="resourceOwnerAuthenticationManager" name="resourceOwnerSecurityProvider"/>
    </mule-ss:security-manager>
    
    <oauth2-provider:config doc:name="OAuth provider module" name="oauth2Provider" port="${http.provider.port}" providerName="SampleAPI" resourceOwnerSecurityProvider-ref="resourceOwnerSecurityProvider" scopes="READ_RESOURCE POST_RESOURCE">
            <oauth2-provider:clients>
                <oauth2-provider:client clientId="myclientid" clientName="Mule Bookstore" description="Mule-powered On-line Bookstore" secret="myclientsecret" type="CONFIDENTIAL">
                    <oauth2-provider:redirect-uris>
                        <oauth2-provider:redirect-uri>http://localhost*</oauth2-provider:redirect-uri>
                    </oauth2-provider:redirect-uris>
                    <oauth2-provider:authorized-grant-types>
                        <oauth2-provider:authorized-grant-type>AUTHORIZATION_CODE</oauth2-provider:authorized-grant-type>
                    </oauth2-provider:authorized-grant-types>
                    <oauth2-provider:scopes>
                        <oauth2-provider:scope>READ_RESOURCE</oauth2-provider:scope>
                        <oauth2-provider:scope>POST_RESOURCE</oauth2-provider:scope>
                    </oauth2-provider:scopes>
                </oauth2-provider:client>
            </oauth2-provider:clients>
    </oauth2-provider:config>
     
    <http:listener-config doc:name="HTTP Listener Configuration" host="localhost" name="HTTP_Listener_Configuration" port="${http.listener.port}"/>
    <flow name="protectedAuthcodeFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="HTTP" path="/resources"/>
        <oauth2-provider:validate config-ref="oauth2Provider" doc:name="Validate Token" scopes="READ_RESOURCE" throwExceptionOnUnaccepted="true"/>
        <set-payload doc:name="Set Resource" value="#[ ['name' : 'payroll', 'uri' : 'http://localhost:${http.listener.port}/resources/payroll'] ]"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>        
    </flow>
     
     
	<!--  This flow is for OAuth2 dance demonstration purposes only -->
    <flow name="redirectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="HTTP" path="/redirect"/>
        <set-property doc:name="set 'http.status'" propertyName="http.status" value="302"/>
        <set-property doc:name="set 'Location'" propertyName="Location" value="http://localhost:${http.provider.port}/token?grant_type=authorization_code&amp;&amp;client_id=myclientid&amp;client_secret=myclientsecret&amp;code=#[message.inboundProperties['http.query.params'].code]&amp;redirect_uri=http://localhost:${http.listener.port}/redirect"/>
    </flow>
</mule>