rollback-exception/src/main/app/93-rollback-exception.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="test" password="test" database="test" doc:name="MySQL Configuration"/>
    <flow name="93-rollback-exceptionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/rollback" allowedMethods="POST" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO account(`name`, `state`, `country`) VALUES (#[json:name],#[json:state],#[json:country]);]]></db:parameterized-query>
        </db:insert>
        <set-payload value="#['Date inserted']" doc:name="Set Payload"/>
        <rollback-exception-strategy maxRedeliveryAttempts="2" doc:name="Rollback Exception Strategy">
            <logger message="#['transaction rollback']" level="INFO" doc:name="Logger"/>
            <set-payload value="#['transaction rollback']" doc:name="Set Payload"/>
            <on-redelivery-attempts-exceeded>
                <logger message="redelevery exhausted" level="INFO" doc:name="Logger"/>
            </on-redelivery-attempts-exceeded>
        </rollback-exception-strategy>
    </flow>
</mule>
