message_chunk_splitter/target/classes/01-message_chunk_splitter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <flow name="01-message_chunk_splitterFlow">
        <file:inbound-endpoint path="C:\Users\kavya\Desktop\XMLTEST\Source" responseTimeout="10000" doc:name="File"/>
        <message-chunk-splitter messageSize="500" doc:name="Message Chunk Splitter"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <message-chunk-aggregator failOnTimeout="true" doc:name="Message Chunk Aggregator"/>
        <file:outbound-endpoint path="C:\Users\kavya\Desktop\XMLTEST\Destination" outputPattern="#[message.id]" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
