xml-csv-transformation/target/classes/68-xml-csv-transformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <flow name="68-xml-csv-transformationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/xml-csv" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="86d47055-3de7-424e-b404-559831efaac7">
            <dw:input-payload doc:sample="C:\Users\kavya\Desktop\Mulesoft\example\employee.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
payload.employees.*employee map ((employee , indexOfEmployee) -> {
	name: employee.name,
	last_name: employee.lastName,
	street1: employee.addresses.address.street,
	zipcode1: employee.addresses.address.street,
	street2: null,
	zipcode2: null
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
