anypoint-examples-3.8/importing-a-CSV-file-into-Mongo-DB/src/main/app/csv-to-mongodb.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
     
    <mongo:config database="${database.name}" doc:name="Mongo DB: Configuration" name="Mongo_DB__Configuration" password="${database.password}" username="${database.user}"/>
    <flow name="csv-to-mongodbFlow1">
    	<file:inbound-endpoint doc:name="Poll files" metadata:id="d465231a-3a94-4460-acce-174c73019323" path="src/main/resources/input" responseTimeout="10000"/>
        <dw:transform-message doc:name="CSV to Map" metadata:id="e1a94970-919a-4529-ac32-165c1b7b7486">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map
{
	firstname: $.firstname,
	surname: $.surname,
	phone: $.phone,
	email: $.email	
}]]></dw:set-payload>
        </dw:transform-message>

        <logger doc:name="Log objects to save" level="INFO" message="saving objects: #[payload]"/>
        <enricher doc:name="Save result to flowVars.existsCollection" source="#[payload]" target="#[flowVars['existsCollection']]">
            <mongo:exists-collection collection="customers" config-ref="Mongo_DB__Configuration" doc:name="Test if a collection exists"/>
        </enricher>
        <choice doc:name="Should a collection be created?">
            <when expression="!flowVars['existsCollection']">
                <mongo:create-collection collection="customers" config-ref="Mongo_DB__Configuration" doc:name="Create collection"/>
            </when>
            <otherwise>
                <logger doc:name="Log that a collection exists" level="INFO" message="Customer Collection already exists."/>
            </otherwise>
        </choice>
        <foreach doc:name="For Each">
            <mongo:insert-document collection="customers" config-ref="Mongo_DB__Configuration" doc:name="Save customers to Mongo"/>
        </foreach>
    </flow>
</mule>