anypoint-examples-3.8/import-contacts-into-ms-dynamics/src/main/app/import-contacts-into-ms-dynamics.xml
<?xml version="1.0"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:dynamicscrm="http://www.mulesoft.org/schema/mule/dynamicscrm" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/dynamicscrm http://www.mulesoft.org/schema/mule/dynamicscrm/current/mule-dynamicscrm.xsd">
    <dynamicscrm:config authenticationType="CRMONLINE" doc:name="Microsoft Dynamics CRM: Legacy Connection" name="Microsoft_Dynamics_CRM__Legacy_Connection" organizationServiceUrl="${crm.service-url}" password="${crm.password}" username="${crm.username}"/>

       
	<flow name="crm-create-account">
        <file:inbound-endpoint doc:name="Poll files" mimeType="application/csv" moveToDirectory="src/main/resources/output" path="src/main/resources/input" pollingFrequency="10000" responseTimeout="10000"/>
        <dw:transform-message doc:name="CSV To Map" metadata:id="d513df8c-60c9-486f-abee-8a3b4cf80789">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map
{
	firstname		: $.firstname,
	lastname		: $.surname,
	businessphone	: $.phone,
	email			: $.email
}]]></dw:set-payload>
        </dw:transform-message>

        <foreach doc:name="For Each">
            <dynamicscrm:create config-ref="Microsoft_Dynamics_CRM__Legacy_Connection" doc:name="Create Contact" logicalName="contact">
				<dynamicscrm:attributes>
	                <dynamicscrm:attribute key="firstname">#[payload.firstname]</dynamicscrm:attribute>
	                <dynamicscrm:attribute key="lastname">#[payload.lastname]</dynamicscrm:attribute>
	                <dynamicscrm:attribute key="emailaddress1">#[payload.email]</dynamicscrm:attribute>
	                <dynamicscrm:attribute key="telephone1">#[payload.businessphone]</dynamicscrm:attribute>
            	</dynamicscrm:attributes>
            </dynamicscrm:create>
        </foreach>
	</flow>
	               
</mule>