java_method_component/src/main/app/java_method_component.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>
		<spring:bean class="com.casb.Calculator" name="calc"></spring:bean>
	</spring:beans>
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<flow name="java_method_componentFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/calc" doc:name="HTTP" />
        <object-to-string-transformer doc:name="Object to String"/>

		<invoke name="addTwoNumbers" object-ref="calc" method="addMethod"
			doc:name="addTwoNumbers" methodArguments="#[json:a],#[json:b]" />
		<echo-component doc:name="Method a is executed" />
	</flow>
















</mule>
