anypoint-examples-3.8/oauth2-client-credentials-using-the-HTTP-connector/src/main/app/http-client-credentials.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/oauth2 http://www.mulesoft.org/schema/mule/oauth2/current/mule-oauth2.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration" port="8081"/>
    <oauth2:token-manager-config doc:name="Token Manager Config" name="Token_Manager_Config"/>    
    
    <http:request-config  basePath="/api/oauth2/authorize" doc:name="HTTP Request Configuration" 
    host="app.box.com" name="HTTP_Request_Configuration" port="443" protocol="HTTPS" tlsContext-ref="TLS_Context" >
        <oauth2:client-credentials-grant-type clientId="${oauth.client.id}" clientSecret="${oauth.client.secret}" >     
        	   	
            <oauth2:token-request tokenUrl="https://app.box.com/api/oauth2/token" >
                <oauth2:token-response>
                    <oauth2:custom-parameter-extractor paramName="token_type" value="#[json:token_type]"/>
  
                </oauth2:token-response>
            </oauth2:token-request>
        </oauth2:client-credentials-grant-type>
    </http:request-config>
    
    <tls:context doc:name="TLS Context" name="TLS_Context"> 
        <tls:trust-store password="${truststore.password}" path="${truststore.path}"/>  
        <tls:key-store keyPassword="${keystore.key.password}" password="${keystore.password}" path="${keystore.path}"/>    
    </tls:context>
    <http:request-config name="HTTP_Request_Configuration1" host="tfim01.demos.ibm.com" port="443"  doc:name="HTTP Request Configuration" protocol="HTTPS"/>
        
    <flow name="httpclientcredentialsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="HTTP" path="oauth"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" doc:name="HTTP" method="GET" path="/"/>
        <rollback-exception-strategy doc:name="Rollback Exception Strategy">
            <logger doc:name="Logger" level="INFO" message="#[exception]"/>
        </rollback-exception-strategy>
    </flow>
    <flow name="http-client-credentialsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/FIM/*" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration1" path="#[message.inboundProperties['http.request.uri']]" method="#[message.inboundProperties['http.method']]" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="client_id" value="${client.id}"/>

            </http:request-builder>
        </http:request>
    </flow>
</mule>