content-based-routing/src/main/app/92-content-based-routing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <flow name="92-content-based-routingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-variable variableName="destination" value="#[json:country]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="flowVars.destination=='us'">
                <set-payload value="us " doc:name="Set Payload US"/>
            </when>
            <when expression="flowVars.destination=='india'">
                <set-payload value="india" doc:name="Set Payload India"/>
            </when>
            <otherwise>
                <set-payload value="#['not destination found']" doc:name="Set Payload no destination"/>
            </otherwise>
        </choice>
    </flow>
</mule>
